<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idan.app.module.movie">

    <application>
        <activity android:name=".detail.MovieDetailActivity"></activity>
        <activity android:name=".list.MovieListActivity" />
    </application>

</manifest>